body {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    font-family: 'Cutive Mono', monospace;
    margin: 0;
    padding: 0;
}

a{
    color: #000;
}

#container {
    padding: 20px 0px;
    padding-bottom: 0;
    width: 500px;
    margin: 0 auto;
    max-width: 100%;
}

#content {
    padding: 0 20px;
    margin: 0;
}

#loading {
    display: none;
    text-align: center;
    font-size: 30px;
}

#container.not-loaded #loading {
    display: block;
}

#container.not-loaded #content {
    display: none;
}

#name {
    position: relative;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
}

#face {
    text-align: center;
    padding: 0;
}

#face img {
    width: 300px;
    padding: 0;
    margin: 0;
    border-radius: 50%;
}

#desc {
    text-align:center;
    padding: 0 0 0px 0;
}

#desc-holder {
    margin: 0;
    padding: 0;
}

#sections {
    padding: 50px 0;
}

.section:nth-child(1) {
    border-top: 1px solid #000;
}

#sections .section h2 {
    margin: 0;
    padding: 10px 0;
}

#sections .section p {
    margin: 5px 0 5px 0;
}

#sections .section div {
    margin: 0;
    padding: 10px 0;
}

#sections .section {
    text-align: center;
    padding: 50px 0;
    border-bottom: 1px solid #000;
}

#links {
    padding: 30px 0 70px 0;
}

#links > ul {
    list-style: none;
    text-align: center;
    padding: 0;
}

#links > ul > li {
    display: inline-block;
    margin: 0;
    padding: 0 10px;
    border-right: 1px solid #000;
}

#links > ul > li:last-child {
    border: none;
}

noscript > p{
    color: red;
    text-align: center;
}
